* {
    font-family: 'Kanit', sans-serif;
    font-weight:bolder;
}
span {
    top: 5px;
}

body {
    background-color: #32292F;
    display: flex;
    justify-content: center;
}

.site-wrapper {
    width: 95vw;
    background-color: #FFFCF9;
    margin-top: 1.5vw;
}

.main-content {
    padding-left: 2vw;
    margin-right: 20vw;
}

.articleImage img{
    max-width: 35vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1.25vw;
    padding-bottom: 2vh;
    /*background-color: #F0F7F4;*/
    background-color: #B1EDE8;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #32292F;
    border-bottom: #32292F 2px solid;
}

/* https://prod.liveshare.vsengsaas.visualstudio.com/join?7F2087FDB13A495104718A143E5C99FD599D 

header {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    float: left;
}

ul {
    display: block;
    background-color: gray;
}

li {
    list-style-type: none;
    padding: 2vw;
}*/
